@import './base.css';
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
} */
/* body {
  background: rgb(153, 224, 39);
}

body .dark-mode {
  background: rgb(146, 7, 7);
} */

/* main {
  background: green;
} */